IWM_API_BASE_URL=https://kernel-core.yowyob.com/kernel-api
IWM_CLIENT_ID=
IWM_API_KEY=
IWM_TENANT_ID=11111111-1111-1111-1111-111111111111
PAYMENT_PAYER_REFERENCE=+237611223344

COOKIE_ACCESS_TOKEN=yy_pay_access_token
COOKIE_REFRESH_TOKEN=yy_pay_refresh_token
COOKIE_ORGANIZATION_ID=yy_pay_organization_id
COOKIE_WALLET_ID=yy_pay_wallet_id
COOKIE_ACTOR_ID=yy_pay_actor_id

PAYMENT_CALLBACK_URL=http://localhost:3000/console?payment=success
PAYMENT_FAILURE_CALLBACK_URL=http://localhost:3000/console?payment=failure
PAYMENT_DIRECT_SUCCESS_CALLBACK_URL=http://localhost:3000/direct-payment/return?payment=success
PAYMENT_DIRECT_FAILURE_CALLBACK_URL=http://localhost:3000/direct-payment/return?payment=failure
APP_BASE_URL=http://localhost:3000
